/* General styles */
.dashboard-container {
    background-color: #f0f0f0;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Repo Details */
  .repo-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    width: 100%;
    margin-top: 20px;
  }
  
  /* Repo Cards */
  .repo-card {
    background: #e0e0e0;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  .repo-card h1 {
    font-size: 24px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 100%;
    text-overflow: ellipsis;
  }
  
  
  .repo-card h1,
  .repo-card h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .repo-card p {
    color: #555;
  }
  
  /* Owner Avatar */
  .owner-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px auto;
    display: block;
  }
  
  .back-button-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 16px;
    width: 100%;
  }
  
  .back-button {
    padding: 10px 20px;
    background-color: #555;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .back-button:hover {
    background-color: #777;
  }
  
  
  
  /* Charts */
  canvas {
    max-width: 100% !important;
    height: auto !important;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .repo-details {
      grid-template-columns: 1fr;
    }
  }
  
  .activity-info p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }
  
  .activity-info a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    word-break: break-word;
  }
  